<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_BcDJlM_QL5COTqCs-8_7XghWOQU8uv8</string>
	<key>GCM_SENDER_ID</key>
	<string>429560210914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graycodder.hydroflow</string>
	<key>PROJECT_ID</key>
	<string>hydroflow-1f649</string>
	<key>STORAGE_BUCKET</key>
	<string>hydroflow-1f649.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429560210914:ios:555a5ab9633aec7cbb45bb</string>
	<key>DATABASE_URL</key>
	<string>https://hydroflow-1f649-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>